body {
    font-size: 16px;
    background-color: #07575B;
    color: whitesmoke;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin-top: 5px;
    text-align: center;
}

#login {
    margin-bottom: 20px;
    align-self: flex-end;
    width: fit-content;
    display: flex;
}

#login > * {
    flex-shrink: 0;
}

#logout {
    display: none;
}

#login, #logout {
    height: 10%;
}

#container {
    width: 75%;
    min-height: 75vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button, input, textarea {
    background-color: #C4DFE6;
    border-radius: 8px;
    font-size: 1rem;
}

#create-task {
    background-color: whitesmoke;
    color: #003B46;
    border-radius: 10px;
    width: 400px;
    height: fit-content;
    padding: 10px;
}

#create-task input, #create-task textarea {
    margin-bottom: 5px;
    font-size: 1.25rem;
}

#create-task textarea{
    width: 375px;
    max-width: 375px;
}

#task-due-date {
    height: 30px;
}

#priority {
    font-size: 1rem;
    height: 30px;
    width: 30px;
}

#task-notes {
    height: 100px;
}

#create-button {
    width: fit-content;
    margin: auto;
}

.button-center {
    text-align: center;
}

#list-tasks {
    min-width: 500px;
}

#list-tasks li {
    font-size: 1.25rem;
    min-width: 500px;
    word-wrap: break-word;
    background-color: #003B46;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}